<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="top-background"></div>
  <div class="container">
    <div class="content-container">
      <div class="page-header">
        <h1>Welcome to Kingdom Of Ece</h1>
        <p>Daha fazlası için</p>
      </div>

      <div class="button-container">
        <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Login</ion-button>
        <ion-button expand="block" class="main-button outline" routerLink="/register" routerDirection="forward">Sign Up</ion-button>
      </div>
    </div>
    <img src="/assets/astrnout.png" class="bottom-image" alt="Alt Resim">
  </div>
</ion-content>
